<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
        <div class="Aligner-item Aligner-item--top"></div>
        <img src="../../assets/pruebaTP6fin.PNG" alt="">
        <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
</div>

<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center slot="start">Iniciar sesión</ion-title>
        <ion-avatar slot="end" class="avatar">
            <img src="../../assets/pruebaTP6.PNG">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content padding scroll="false">
    <div class="inicio">
        <div class="cajaImagen">
            <img class="icon" src="../../assets/user.png" alt=" ">

        </div>
    </div>
    <ion-item lines="none" class="campos">
        <ion-label autocomplete="on" position="floating">Correo electrónico</ion-label>
        <ion-input type="text" name="correo" [(ngModel)]="correo" (ionFocus)='listaCorreos()' required></ion-input>

    </ion-item>
    <ion-item lines="none" class="campos">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="passwordType" name="contrasena" [(ngModel)]="clave" required></ion-input>
        <ion-icon slot="end" [name]="eyeType" color="white" (click)="tooglePassword()" style="zoom:1.2;"></ion-icon>
    </ion-item>


    <div class="fin">
        <ion-button class="boton" expand="block " color="primary" *ngIf=" !cargando " (click)="onLogin() ">Ingresar</ion-button>
        <ion-button class="boton " expand="block " color="danger " *ngIf="cargando ">
            <ion-spinner name="crescent "></ion-spinner>
            Cargando...</ion-button>
        <ion-button class="boton " expand="block " color="primary " disabled routerLink="/home ">Inicio</ion-button>
    </div>
</ion-content>