<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">
            Despertador GPS
        </ion-title>
        <ion-avatar slot="end" class="avatar">
            <img src="../../assets/pruebaTP6.PNG">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button class="boton lindo" expand="block " color="secondary" routerLink="/home ">Casi la hago...</ion-button>

</ion-content>