ion-content {
    --background: #333940;
}

.boton {
    height: 40%;
    margin: 2rem;
}

.avatar {
    border: 1px solid white;
    margin: 3px;
}

.boton :hover {
    border: 2px solid black;
}

.lindo {
    background-color: white;
}

.feo {
    background-color: black;
}

.campos {
    margin: 1rem;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}